<div class="container">
    <table class="table">
        <tr>
        <th style="width: 30%">First Name</th>
        <th style="width: 30%">Last Name</th>
        <th style="width: 20%">Date of Birth</th>
        <th style="width: 10%">Gender</th>
        <th style="width: 15%"></th>
        <th style="width: 15%"></th>
        </tr>
        <tr *ngFor="let pacient of pacients">
        <td>{{ pacient.FirstName }}</td>
        <td>{{ pacient.LastName }}</td>
        <td>{{ pacient.DateOfBirth }}</td>
        <td>{{ pacient.Gender }}</td>
        <td>
            <button class="btn btn-success">
            Edit Pacient
            </button>
        </td>
        <td>
            <button class="btn btn-success">
            Remove Pacient
            </button>
        </td>
        </tr>
    </table>
</div>
