<form
  [formGroup]="patientForm"
  (ngSubmit)="onSubmit(true)"
  autocomplete="off"
  novalidate
>
  <p *ngIf="isAddMode" class="text-center signup-register-header mb-4">Register Patient</p>
  
  <p *ngIf="!isAddMode" class="text-center signup-register-header mb-4">Edit Patient</p>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="firstName"
      formControlName="firstName"
      [(ngModel)]="newPatient.firstName"
      placeholder="First name"
    />
    <div *ngIf="f.firstName.touched && f.firstName.invalid" class="text-danger">
      <div class="pt-2" *ngIf="f.firstName.errors.required">
        <p class="error">First name is require</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="lastName"
      formControlName="lastName"
      [(ngModel)]="newPatient.lastName"
      placeholder="Last name"
    />
    <div *ngIf="f.lastName.touched && f.lastName.invalid" class="text-danger">
      <div class="pt-2" *ngIf="f.lastName.errors.required">
        <p class="error">Last name is required</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
    readonly
      type="text"
      placeholder="Date of birth"
      class="form-control"
      name="dateOfBirth"
      bsDatepicker
      [bsConfig]="{ maxDate: today}"
      formControlName="dateOfBirth"
      [(ngModel)]="newPatient.dateOfBirth" 
    />
    <div *ngIf="f.dateOfBirth.touched && f.dateOfBirth.invalid" class="text-danger">
        <div class="pt-2" *ngIf="f.dateOfBirth.errors.required">
          <p class="error">Birth date is required</p>
        </div>
    </div>
  </div>
  <div class="form-group form-selects">
    <ngx-select-dropdown
      id="gender"
      [multiple]="false"
      [(ngModel)]="newPatient.gender"
      [options]="genderTypes"
      formControlName="gender"
      name="gender"
    ></ngx-select-dropdown>
    <div *ngIf="f.submitted && f.gender.invalid" class="text-danger">
        <div class="pt-2" *ngIf="f.gender.errors.required">
          <p class="error">Gender is required</p>
        </div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="ssn"
      formControlName="ssn"
      [(ngModel)]="newPatient.ssn"
      placeholder="ssn"
    />
    <div *ngIf="f.ssn.touched && f.ssn.invalid" class="text-danger">
      <div class="pt-2" *ngIf="f.ssn.errors.minlength || f.ssn.errors.maxlength || f.ssn.errors.pattern">
        <p class="error">ssn must contain 13 numeric characters</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="phoneNumber"
      formControlName="phoneNumber"
      [(ngModel)]="newPatient.phoneNumber"
      placeholder="Phone"
    />
    <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="text-danger">
      <div class="pt-2" *ngIf="f.phoneNumber.errors.pattern">
        <p class="error">You must add numeric characters</p>
      </div>
    </div> 
  </div>
  <div class="form-group">
    <label for="id">Order Nr</label>
    <input
      type="number"
      class="form-control"
      name="id"
      formControlName="id"
      [(ngModel)]="newPatient.id"
      placeholder="OrderNr"
    />
  </div>
  <div class="form-group text-center">
    <button *ngIf="isAddMode"
      [disabled]="!patientForm.valid"
      class="btn btn-success mr-2 register-login-button"
      type="submit"
    >Add</button>
    <button *ngIf="!isAddMode"
      [disabled]="!patientForm.valid"
      class="btn btn-success mr-2 register-login-button"
      type="submit"
    >Save</button>
  </div>
</form>
